<div class="whole">
  <footer class="pt-4 pt-md-5 border-top">
    <div class="container1">
      <div class="row">
        <div class="col-12 col-md">
          <a href="#">
            <img class="img-fluid" src="../../assets/logo.jpg" />
          </a>
          <div class="solar">
            <h2>SOLAR INDIA</h2>
          </div>
        </div>
        <div class="col-6 col-md">
          <h1 class="useful-links">Usefull Link</h1>
          <ul class="list-unstyled">
            <li>
              <a class="text-muted" href="#"
                ><h3 style="color: white">Home</h3></a
              >
            </li>
            <li>
              <a class="text-muted" href="#products"
                ><h3 style="color: white">Products</h3></a
              >
            </li>
            <li>
              <a class="text-muted" href="#about-us"
                ><h3 style="color: white">About Us</h3></a
              >
            </li>
            <li>
              <a class="text-muted" href="#contact-us"
                ><h3 style="color: white">Contact Us</h3></a
              >
            </li>
          </ul>
        </div>
        <div class="contact col-6 col-md">
          <h1>Contact Us</h1>
          <ul class="list-unstyled text-small">
            <li>
              <!-- <a class="text-muted" href="#"> -->
              <i class="bi bi-geo-alt" style="font-size: 17px">
                &nbsp;Our Office Address</i
              >

              <div class="sub-address">
                <span
                  >Head office :GROUND FLOOR,11,SHOP NO 4,HAKA BAZAR HAWAL,
                  Srinagar-190003 (J&K)<br />
                  Branch office : Nallamar Road, Saraf Kadal (Near HDFC Bank)
                  Srinagar-190002 (J&K)
                </span>
              </div>
            </li>
            &nbsp;
            <li>
              <i class="bi bi-envelope" style="font-size: 17px">
                &nbsp;Email Us</i
              >
              <div class="sub-address">
                <span> solarindia.sgr@gmail.com</span>
              </div>
            </li>
            &nbsp;
            <li>
              <i class="bi bi-telephone-outbound" style="font-size: 17px">
                &nbsp;Call Us</i
              >
              <div class="sub-address" style="color: white">
                <span> 7006108834, 7006470873</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="text-center py-2 bg-light mt-2">
  Copyright 2021 | All right reserved
</div>
