<section id="contact-us">
  <div class="contact-us">
    <!-- <h2 class="contact">Contact Us</h2> -->
    <div class="sss">
      <span>C</span>
      <span>O</span>
      <span>N</span>
      <span>T</span>
      <span>A</span>
      <span>C</span>
      <span>T</span>
      &nbsp; &nbsp; &nbsp; &nbsp;

      <span>U</span>
      <span>S</span>
    </div>
    <div class="container">
      <div class="text">
        <div class="part2">
          <div class="address">
            <i class="bi bi-geo-alt" style="font-size: 17px">
              &nbsp;Our Office Address</i
            >

            <div class="sub-address">
              <span
                >Head office : Haka Bazar, (Kohi Maran Road) Hawal,
                Srinagar-190003 (J&K)<br />
                Branch office : Nallamar Road, Saraf Kadal (Near HDFC Bank)
                Srinagar-190002 (J&K)
              </span>
            </div>
            &nbsp;
          </div>
          <!-- email address -->
          <div class="email-address">
            <i class="bi bi-envelope" style="font-size: 17px">
              &nbsp;Email Us</i
            >
            <div class="sub-address">
              <span> solarindia.sgr@gmail.com</span>
            </div>
            &nbsp;
          </div>

          <!-- call us -->
          <div class="call">
            <i class="bi bi-telephone-outbound" style="font-size: 17px">
              &nbsp;Call Us</i
            >
            <div class="sub-address">
              <span> 7006108834, 7006470873</span>
            </div>
            &nbsp;
          </div>
          <!-- whatsaap -->
          <div class="whatsaap">
            <i class="bi bi-whatsapp" style="font-size: 17px">
              &nbsp;WhatsApp</i
            >
          </div>
          <div class="sub-address">
            <span>7006108834, 7006470873</span>
          </div>
        </div>
      </div>
      <div class="form1">
        <form class="form">
          <div class="form-group">
            <input
              type="name"
              class="form-control"
              id="exampleInputName"
              aria-describedby="nameHelp"
              placeholder="Enter name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <input
              type="mobile"
              class="form-control"
              id="exampleInputMobile"
              placeholder="Enter mobile no"
            />
          </div>
          <div class="form-group">
            <input
              type="message"
              class="form-message"
              id="exampleInputMessage1"
              placeholder="Enter message"
            />
          </div>
          <div class="button">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
