<section id="about-us">
  <div class="container">
    <div class="about-img">
      <img src="../../assets/solarcell.jpg" alt="" style="height: 300px" />
    </div>
    <div class="head-line">
      <h3 class="bold1">About SOLAR INDIA</h3>
    </div>
    <p class="intro">
      SOLAR INDIA Registered by Ministry of Micro, Small and Medium Enterprises
      Government of India aims to be a regional leader in the solar energy
      market, with business units in distribution and integration, project
      services, and business solutions. We offer a full-service portfolio for
      solar projects of all scales that includes advisory, procurement,
      engineering, project development, finance, and construction services.
    </p>
    <div class="head-line">
      <h3 class="bold1">FACTS AND FIGURES</h3>
    </div>
    <p class="intro">
      Founded: 2019<br />
      Regional presence: sales offices in many districts<br />
      Supplied over 5 MW of projects<br />
      Board has experience of developing over 15 MW of solar plant projects<br />
      Won numerous awards: in recent years.
    </p>
    <div class="head-line">
      <h3 class="bold1">OUR MISSION</h3>
    </div>
    <p class="intro">
      We aim to be at the forefront of the energy revolution. SOLAR INDIA’s
      guiding principle is to expand decentralized energy, and increase access
      to it, through:<br />
      Highest return on investment over the life cycle of the project Unrivaled
      regional reach in our sector Localized capabilities Entrepreneurial spirit
      coupled with rigorous risk management.
    </p>

    <div class="about">
      <div class="product">
        <div class="sss">
          <span>O</span>
          <span>U</span>
          <span>R</span>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span>P</span>
          <span>R</span>
          <span>O</span>
          <span>D</span>
          <span>U</span>
          <span>C</span>
          <span>T</span>
          <span>S</span>
        </div>

        <!-- <h1>
          <span class="our">Our</span>&nbsp;
          <span class="products">Products</span>
        </h1> -->
      </div>

      <div class="cards">
        <div class="card">
          <img
            src="../../assets/solarcell.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">SOLAR FENCE</h5>
            <h6 class="card-title">HASIRU SOLAR FENCE</h6>

            <button id="new" class="btn btn-primary" (click)="newChange()">
              View Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- our galary -->

    <div class="gallary">
      <div class="gallary-text">
        <div class="sss">
          <span>O</span>
          <span>U</span>
          <span>R</span>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span>G</span>
          <span>A</span>
          <span>L</span>
          <span>L</span>
          <span>A</span>
          <span>R</span>
          <span>Y</span>
        </div>
        <!-- <h1>
          <span class="our">Our</span>&nbsp;
          <span class="products">Gallary</span>
        </h1> -->
      </div>
      &nbsp;
      <!-- image -->

      <div class="cards1">
        <div class="card1">
          <img src="../../assets/001.jpg" alt="" style="height: 60vh" />
        </div>
        <div class="card1">
          <img src="../../assets/002.jpg" alt="" style="height: 60vh" />
        </div>
        <div class="card1">
          <img src="../../assets/003.jpg" alt="" style="height: 60vh" />
        </div>
        <div class="card1">
          <img src="../../assets/004.jpg" alt="" style="height: 60vh" />
        </div>
      </div>
      <!-- ----------------------------------------------------- -->
      <!-- <lib-ngx-image-zoom
      [thumbImage]="myThumbnail"
      [fullImage]="myFullresImage"
      [magnification]="1"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="200"
    ></lib-ngx-image-zoom> -->
    </div>
  </div>
</section>
