<div class="mat-dialog-content">
  <mat-dialog-content>
    <div class="boxLine">
      <h1 mat-dialog-title style="font-size: 40px">Contact us</h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-x-lg"
        viewBox="0 0 16 16"
        mat-dialog-close
        style="margin-left: 6rem"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
        />
      </svg>
      <!-- <i class="bi bi-x-lg"></i> -->
    </div>

    <div class="form1">
      <form class="form">
        <div class="form-group">
          <input
            type="name"
            class="form-control"
            id="exampleInputName"
            aria-describedby="nameHelp"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <input
            type="mobile"
            class="form-control"
            id="exampleInputMobile"
            placeholder="Enter mobile no"
          />
        </div>
        <div class="form-group">
          <input
            type="message"
            class="form-message"
            id="exampleInputMessage1"
            placeholder="Enter message"
          />
        </div>
        <div class="button">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
  </mat-dialog-content>
</div>
